.sidebar-scrollable {
  -ms-overflow-style: none !important;
  scrollbar-width: none !important;
}

.sidebar-scrollable::-webkit-scrollbar {
  display: none !important;
  width: 0 !important;
  height: 0 !important;
}
